<footer class="site-footer">
    <div class="container">

        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <p>
                    <a href="https://github.com/TyroneZeka" target="_blank" class="social-item"><span class="icon-github2"></span></a>
                    <a href="https://twitter.com/Chamakuvangu01" target="_blank" class="social-item"><span class="icon-twitter"></span></a>
                    <a href="https://www.instagram.com/the_black.chinese/" target="_blank" class="social-item"><span class="icon-instagram2"></span></a>
                    <a href="https://www.linkedin.com/in/tyrone-zekah-131753134/" target="_blank" class="social-item"><span class="icon-linkedin2"></span></a>
                    <a href="https://wa.me/8617664037823?I'm%20inquiring%20about%20website%20services%20" target="_blank" class="social-item"><span class="icon-whatsapp"></span></a>
                </p>
            </div>
        </div>
        <div class="row mb-3">
            <p class="col-12 text-center" >
                <small><small>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true" ></i> by <a href="https://colorlib.com" target="_blank" class="">Colorlib</a></small> </small>          
            </p>
        </div>
        
    </div>
</footer>
